# {{ ansible_managed }}

{% for user in users_users if user.sudo | default(false) and not (user.disabled | default(false)) and user.state | default('present') != 'absent' %}
{{ user.username }} ALL=(ALL) {{ 'ALL' if users_sudo_require_password else 'NOPASSWD: ALL' }}
{% endfor %}
